<!DOCTYPE html>
<html>
  <body>
    <h1>Play Rock Paper Scissors</h1>
    <a href="/single_player"><button>Single Player</button></a>
    <a href="/multiplayer"><button>Multiplayer</button></a>
  </body>
</html>
